@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --font-terminal: "JetBrains Mono", monospace;
    --font-space-grotesk: "Space Grotesk", sans-serif;
  }
}

@layer utilities {
  .font-terminal {
    font-family: var(--font-terminal);
  }

  .font-space_grotesk {
    font-family: var(--font-space-grotesk);
  }
}

html,
body {
  @apply h-full w-full relative;
}
